<div class="container mt-2">
<div class="row">
  <header class="col-12">
    <h1>Produtos</h1>
  </header>
</div>
<section *ngIf="!display && !displayUp">
  <div class="row">
    <div class="col-12 my-3">
      <button type="button" class="btn btn-add" data-toggle="modal" routerLink="cadastrar" routerLinkActive="router-link-active"><i class="fas fa-plus"></i>&nbsp;Adicionar</button>
      <form class="form-inline search" #p="ngForm" (ngSubmit)="onSubmit(p)">
        <input class="form-control mr-sm-2" type="search" name="searcher_product" [(ngModel)]="procuraProduct" placeholder="Digite o produto" aria-label="Buscar" ngModel>
        <button class="btn btn-search" disabled><i class="fas fa-search"></i></button>
      </form>
    </div>
  </div>
  <!--Tabela-->
  <div class="row table-reponsive">
    <table class="table table-hover table-striped col-lg-12 col-md-12 col-sm-12">
      <thead>
        <tr>
          <th class="" scope="col" >#</th>
          <th class="text-left" scope="col" >Descrição</th>
          <th class="text-left" scope="col">Categorias</th>
          <th class="text-left" scope="col" >Estoque</th>
          <th class="text-center" scope="col" >Ações</th>
        </tr>
      </thead>
      <tbody>
          <app-loader *ngIf="isLoading"></app-loader>
        <tr *ngFor="let product of produtos | searcher_product : procuraProduct">
          <td class="" >{{product.id_product}}</td>
          <td class="text-left" >{{product.name_product}}</td>
          <td class="text-left" >{{product.stock_product_group.name_group}}</td>
          <td class="" >{{product.amount.toLocaleString(undefined, {minimumFractionDigits: 2,maximumFractionDigits: 2})}}</td>
          <td class="text-center" >
            <div class="btn-group" role="group" aria-label="actions">
              <button type="button" mat-raised-button matTooltip="Editar o produto {{product.name_product}}"(click)="onDisplayUp()" (click)="select(product)" class="btn btn-secondary" data-toggle="modal" data-target="#edicao"><i class="fas fa-edit"></i></button>
              <button type="button" mat-raised-button matTooltip="Excluir o produto {{product.name_product}}"class="btn btn-secondary" data-toggle="modal" data-target="#delete" (click)="select(product)"><i class="fas fa-trash-alt"></i></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!--Modal Excluir-->
  <div class="modal fade" role="dialog" id="delete">
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Excluir Produto</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Tem certeza que deseja excluir este Produto?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteProduct()">Excluir</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal" data-target="salvo">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
  <!---Modal de edição-->
  <div class="modal fade" role="dialog" id="edit" *ngIf="product">
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Editar</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form #edit="ngForm">

              <div class="modal-body" *ngIf="product">
                <div class="form-group my-3">
                  <input type="text" class="form-control" name="name_product" [(ngModel)]="product.name_product" [ngClass]="{'border-danger': att_nameValidation}" (change)="att_nameValidation = false"
                  required ngModel #name_product="ngModel" id="edit" aria-describedby="editar" placeholder="Informe o produto">
                  <p *ngIf="att_nameValidation"  class="text-danger">Preencha o campo</p>
                </div>
                <div class="form-group my-3 ">
                  <select class="btn btn-type w-100" required [(ngModel)]="product.id_group" name="id_group" required ngModel #id_group="ngModel" [ngClass]="{'border-danger': att_selectValidation}" (change)="att_selectValidation = false">
                    <option value="" disabled selected>Selecione uma Categoria</option>
                    <option *ngFor="let C of categories" value="{{C.id_group}}">
                      {{C.name_group}}
                    </option>
                  </select>
                  <p *ngIf="att_selectValidation" class="text-danger">Preencha o campo</p>
                </div>
              </div>

            </form>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal" [disabled]="edit.invalid" (click)="updateProduct(product)">Salvar</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
    </div>
</section>
</div>
