.btn-type{
    border-color: #229077;
    color: #229077;
}
.active{
    background-color: #229077;
    color: #ffffff;
}
.btn-success{
    float: right;
}
.search{
    float: right;
}
h1{
    color: #229077;
}

.btn-add{
    background-color: #229077;
    color: white;
}
.col-12{
    padding-right: 0;
    padding-left: 0;
}
.btn-search{
    background-color: #229077;
    color: #ffffff;
}