<nav class="navbar navbar-expand-lg">
  <span class="navbar-brand">ASLAVE</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="fa fa-ellipsis-v"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="" routerLinkActive="active">HOME</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarEstoque" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          ESTOQUE
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarEstoque">
          <a class="dropdown-item" routerLink="/pessoas">Pessoas</a>
          <a class="dropdown-item" routerLink="/produtos">Produtos</a>
          <a class="dropdown-item" routerLink="/categorias">Categorias</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/entradas">Entradas</a>
          <a class="dropdown-item" routerLink="/saidas">Saídas</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarFinanceiro" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          FINANCEIRO
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarFinanceiro">
          <a class="dropdown-item" routerLink="/pessoas">Pessoas</a>
          <a class="dropdown-item" routerLink="/classificacoes">Classificações</a>
          <a class="dropdown-item" routerLink="/lancamentos">Lançamentos</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarUsuario" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          USUÁRIO
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarUsuario">
          <a class="dropdown-item" routerLink="/gerenciar">Gerenciar</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/gerenciar">Sair</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
 
</div>

