.btn-success{
    float: right;
}
.search{
    float: right;
}
h1, h4{
    color: #229077;
}

.btn-add{
    background-color: #229077;
    color: white;
}
.col-12{
    padding-right: 0;
    padding-left: 0;
}
.btn-search{
    background-color: #229077;
    color: #ffffff;
}
.positiveValue{
    color: green;
}
.negativeValue{
    color: #990000;
}
.balanceValue{
    color: #0000e6
}