<div class = "container-fluid">
  <div class = "row wrapper">
    
      
        <div class = "card col-lg-4 col-md-4">
          <div class="card-header mb-5">
            <img id="logo" class="img-fluid" src="../../assets/logo_slave.jpg">
          </div>
          <!--form method="POST" enctype="multipart/form-data" #f="ngForm" (ngSubmit)="onSubmit(f)">
            <div class="form-group">
              <input type="text"  class="form-control-lg" id="login" name="login" placeholder="Login" ngModel>
            </div>
            <div class="form-group">
              <input type="password"  class="form-control-lg mb-5" id="senha" name="senha" placeholder="Senha" ngModel>
            </div>
            <button type="submit" class="btn btn-large">Entrar</button>
          </form-->
          <form method="POST">
            <div class="form-group">
              <input type="text"  class="form-control-lg" id="login" name="login" placeholder="Login">
            </div>
            <div class="form-group">
              <input type="password"  class="form-control-lg mb-5" id="senha" name="senha" placeholder="Senha">
            </div>
            <button type="submit" class="btn btn-large">Entrar</button>
          </form>
        </div>
  </div>

  
  
</div>