<div class="row">
  <header class="col-lg-12 col-md-12 col-sm-12">
    <h1>Entradas</h1>
  </header>
</div>
<section>
  <div class="row">
    <div class="col-lg-12 col-md-12 my-3">
      <div class="card">
        <form>
          <div class="form-inline">
            <div class="form-group col-lg-4">
              <select name="pessoa" class="btn btn-select mx-sm-2 stock-input">
                <option selected value="0">Selecionar pessoa</option>
              </select>
            </div>
            <div class="form-group col-lg-4">
              <select name="tipo" class="btn btn-select mx-sm-2 stock-input">
                <option selected value="0">Selecionar tipo</option>
              </select>
            </div>
            <div class="form-group col-lg-4">
              <input type="date" class="form-control stock-input">
            </div>
          </div>
          <hr>
          <h5>Produtos</h5>
          <div class="form-inline">
            <div class="form-group col-lg-5">
              <select name="produto" class="btn btn-select mx-sm-2 stock-input">
                <option selected value="0">Selecionar produto</option>
              </select>
            </div>
            <div class="form-group col-lg-3 col-sm-6 col-6">
              <input type="number" class="form-control stock-input" placeholder="Quantidade">
            </div>
            <div class="form-group col-lg-3 col-sm-6 col-6">
              <input type="number" class="form-control stock-input" placeholder="Valor">
            </div>
            <button class="btn btn-success col-lg-1 col-6">
              <i class="fas fa-plus"></i>
            </button>
          </div>
          <div class="row mt-4">
            <div class="table-responsive">
              <table class="table col-lg-12 col-md-12 col-sm-12">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Qtd</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Ações</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Leite</td>
                  <td>5</td>
                  <td>15,00</td>
                  <td> - </td>
                </tr>
              </tbody>
            </table>
          </div>
          </div>
          <button type="submit" class="btn btn-success btn-save mt-3">
            <i class="fas fa-paper-plane"></i>
            Salvar
          </button>
        </form>
      </div>
      <button class="btn btn-light col-lg-1" routerLink="/entradas">
        <i class="fas fa-angle-left"></i>
        Voltar
      </button>
    </div>
  </div>
</section>