h1{
    color: #229077;
}
h4{
    color: #229077;
}
.card{
    padding: 15pt;
}

.btn-search{
    background-color: #229077;
    color: #ffffff;
}

.search{
    float: right;
}
input.inline{
    width: 100%;

}
.left{
    padding-left: 0;
}
.right{
    padding-right: 0;
}
.btn-select{
    width: 100%;
    background-color: #ffffff;
    border: solid 1px #ccc;
}
.btn-type{
    background-color: #ffffff;
    border: solid 1px #ccc;
}
.possitiveValue{
    color: green;
    text-align: left;
}
.negativeValue{
    color: red;
    text-align: left;
}
.balanceValue{
    color: #229077;
    text-align: left;
}
.valueClass{
    text-align: right;
}
