<div class="row">
  <header class="col-lg-12 col-md-12 col-sm-12">
    <h1>Lançamentos</h1>
  </header>
</div>
<section *ngIf="!display && !displayUp ">
  <div class="row">
    <div class="col-lg-12 col-md-12 my-2">
      <button type="button" class="btn btn-success" (click)="onDisplayClassification('e')" (click)="onDisplay()"><i class="fas fa-plus"></i> Adicionar</button>
      <form class="form-inline search" #p="ngForm" (ngSubmit)="onSubmit(p)">
          <input class="form-control mr-sm-2" type="search" name="search" placeholder="Buscar" [(ngModel)]="procurarNome" aria-label="Buscar" ngModel>
          Competência:<input type="month" name="competencia" class="form-control mr-sm-2" [(ngModel)]="procurardata">
          <select name="tipo" class="form-control mr-sm-2" [(ngModel)]="procurarmov" name="type">
          <option value="e">  Entrada  </option>
          <option value="s">  Saida  </option>
          <option value="">  Ambos  </option>
        </select>
      </form>
    </div>
  </div>  
  <div class="row">
    <table class="table col-lg-12 col-md-12 col-sm-12">
      <thead>
        <tr>
          <th scope="col" class="">Competência</th>
          <th scope="col" class="">Lançamento</th>
          <th scope="col" class="">Pessoa</th>
          <th scope="col" class="">Valor</th>
          <th scope="col" class="">Tipo</th>
          <th scope="col" class="">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let C of entry | searcher_mov : procurarmov | searcherMovDate : procurardata | searcherP : procurarNome ">
          <td class="">{{ C.due_date_pay | date:'MM/yyyy':'UTC'}}</td>
          <td class="">{{ C.date_financial_release | date:'dd/MM/yyyy':'UTC'}}</td>
          <td class="">{{ C.person.name }}</td>
          <td class="">{{ C.value }}</td>
          <td class="">{{ C.type_mov==="e" ?"Entrada": "Saida" }}</td>
          <td class="">
            <div class="btn-group" role="group" aria-label="actions">
              <button type="button" class="btn btn-secondary" (click)="select(C)" (click)="onDisplayUp()"><i class="fas fa-edit"></i></button>
              <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#delete" (click)="select(C)"><i class="fas fa-trash-alt"></i></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <!--Modal de Deletar Classificação-->
    <div class="modal fade" role="dialog" id="delete">
      <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Excluir Classificação</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Tem certeza que deseja excluir esta classificação?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteEntry()">Excluir</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
    <!--Fim do Modal de Deletar Classificação-->
  </div>
</section>
<!--Display de adição de nova classificação-->
<section *ngIf="display">
  <div class="row">
    <div class="col-lg-12 col-md-12 my-6">
      <div class="card">
        <h4>Adicionar</h4>          
          <form #p="ngForm" (ngSubmit)="onSubmit(p)">
            <div class="form-inline my-3">

              <div class="form-group col-lg-6 left">
                <select name="tipo" required [(ngModel)]="procuraClassification" class="btn btn-select" ngModel #classifation_type="ngModel">
                  <option value="e">  Entrada  </option>
                  <option value="s">  Saida  </option>     
                </select>
              </div>

              <div class="form-group col-lg-6 right">
                <select name="classificacao" class="btn btn-select" name="id_classification" required ngModel #id_classification="ngModel">
                  <option value="" disabled selected>Selecione uma classificação</option>
                  <option *ngFor="let C of classification | searcher_classification : procuraClassification" value="{{C.id_classification}}">
                    {{C.name_classification}}
                  </option>        
                </select>
              </div>

              </div>
              <div class="form-group my-3">
                <select name="pessoa" class="btn btn-select" name="id_people" required ngModel #id_people="ngModel">
                  <option value="" disabled selected>Selecione a Pessoa</option>
                  <option value="{{P.id_people}}" *ngFor="let P of people">
                    {{P.name}}
                  </option>        
                </select>
              </div>  

              <div class="form-inline my-3">
                <div class="form-group col-lg-6 left">
                  <input type="text" class="form-control inline" id="num_doc" required name="num_doc" ngModel #num_doc="ngModel" aria-describedby="num_doc" placeholder="Numero do Documento">
                </div>
                <div class="form-group col-lg-6 right">
                  <input type="number" class="form-control inline" id="valor" required ngModel #value="ngModel" placeholder="Valor" name="valor">
                </div> 
              </div>

              <div class="form-inline my-3">
                <div class="form-group col-lg-6 left">
                  Data da competência:<input type="month" name="competencia" required class="form-control stock-input" ngModel #due_date_pay="ngModel">
                </div>
                <div class="form-group col-lg-6 right">
                  Data do lançamento:<input type="date" name="lancamento" required class="form-control stock-input" ngModel #date_financial_release="ngModel">
                </div> 
              </div>

              <div class="form-inline my-3">
                <div class="form-group col-lg-12">
                  <textarea class="form-control" name="historico" id="historico" required cols="120" rows="3" placeholder="Historico" ngModel #historic="ngModel"></textarea>
                </div>
              </div>

              <button type="submit" [disabled]="!p.valid" class="btn btn-success">
                <i class="fas fa-paper-plane"></i>
                Salvar
              </button>
          </form>
      </div>
      <button class="btn btn-light col-lg-1" (click)="onDisplay()">
        <i class="fas fa-angle-left"></i>Voltar
      </button>
    </div>
  </div>
</section>
<!--Fim do display de adição-->
<!--Display de edição classificação-->
<section *ngIf="displayUp">
  <div class="row">
    <div class="col-lg-12 col-md-12 my-6">
      <div class="card">
        <h4>Editar</h4>        
          <form #p="ngForm" (ngSubmit)="updateClassification(p)">
            <div class="form-inline my-3">

              <div class="form-group col-lg-6 left" *ngIf="ent">
                <select name="tipo" [(ngModel)]="ent.type_mov" required [(ngModel)]="procuraClassification" class="btn btn-select" ngModel #classifation_type="ngModel">
                  <option value="e">  Entrada  </option>
                  <option value="s">  Saida  </option>     
                </select>
              </div>

              <div class="form-group col-lg-6 right" *ngIf="ent">
                <select name="classificacao" required [(ngModel)]="ent.id_classification" class="btn btn-select" name="id_classification" ngModel #id_classification="ngModel">
                  <option value="" disabled selected>Selecione uma classificação</option>
                  <option *ngFor="let C of classification | searcher_classification : procuraClassification" value="{{C.id_classification}}">
                    {{C.name_classification}}
                  </option>        
                </select>
              </div>

              </div>
              <div class="form-group my-3" *ngIf="ent">
                <select name="pessoa" required [(ngModel)]="ent.id_people"  class="btn btn-select" name="id_people" ngModel #id_people="ngModel">
                  <option value="" disabled selected>Selecione a Pessoa</option>
                  <option value="{{P.id_people}}" *ngFor="let P of people">
                    {{P.name}}
                  </option>               
                </select>
              </div>  

              <div class="form-inline my-3" *ngIf="ent">
                <div class="form-group col-lg-6 left">
                  <input type="text" required [(ngModel)]="ent.num_doc" class="form-control inline" id="num_doc" name="num_doc" required ngModel #num_doc="ngModel" aria-describedby="num_doc" placeholder="Numero do Documento">
                </div>
                <div class="form-group col-lg-6 right">
                  <input type="number" required [(ngModel)]="ent.value" class="form-control inline" id="valor"  required ngModel #value="ngModel" placeholder="Valor" name="valor">
                </div> 
              </div>

              <div class="form-inline my-3">
                <div class="form-group col-lg-6 left" *ngIf="ent">
                  Data da competência:<input type="month" required [(ngModel)]="ent.due_date_pay" name="competencia" class="form-control stock-input" ngModel #due_date_pay="ngModel">
                </div>
                <div class="form-group col-lg-6 right" *ngIf="ent">
                  Data do lançamento:<input type="date" required [(ngModel)]="ent.date_financial_release" name="lancamento" class="form-control stock-input" ngModel #date_financial_release="ngModel">
                </div> 
              </div>

              <div class="form-inline my-3" *ngIf="ent">
                <div class="form-group col-lg-12">
                  <textarea [(ngModel)]="ent.historic" required class="form-control" name="historico" id="historico" cols="120" rows="3" placeholder="Historico" ngModel #historic="ngModel"></textarea>
                </div>
              </div>

              <button type="submit" [disabled]="!p.valid" class="btn btn-success">
                <i class="fas fa-paper-plane"></i>
                Salvar
              </button>
          </form>
      </div>
      <button class="btn btn-light col-lg-1" (click)="onDisplayUp()">
        <i class="fas fa-angle-left"></i>Voltar
      </button>
    </div>
  </div>
</section>
<!--Fim do display de edição-->
