h1{
    color: #425f94;
}
h4{
    color: #425f94;
}
.card{
    padding: 15pt;
}

.btn-search{
    background-color: #425f94;
    color: #ffffff;
}

.search{
    float: right;
}
input.inline{
    width: 100%;

}
.left{
    padding-left: 0;
}
.right{
    padding-right: 0;
}
.btn-select{
    width: 100%;
    background-color: #ffffff;
    border: solid 1px #ccc;
}
.btn-type{
    background-color: #ffffff;
    border: solid 1px #ccc;
}
.ng-valid[required], .ng-valid.required{
    border-left: 15px solid #42A948;  /*green*/ 
}
.possitiveValue{
    color: green;
}
.negativeValue{
    color: red;
}