<div class="row">
    <header class="col-lg-12 col-md-12 col-sm-12">
      <h1>Usuários</h1>
    </header>
</div>
  <section *ngIf="displayUser">
    <div class="row">
      <div class="col-lg-12 col-md-12 my-3">
        <button type="button" class="btn btn-success" (click)="onDisplayUser()"><i class="fas fa-plus"> </i> Adicionar</button>
        
        <form class="form-inline search" #p="ngForm">
          <input class="form-control mr-sm-2" type="search" name="search" placeholder="Buscar" [(ngModel)]="procuraUser" aria-label="Buscar">
          <button class="btn btn-search" type="submit"><i class="fas fa-search"></i></button>
        </form>
      </div>
    </div>
    <div class="row">
      <table class="table col-lg-12 col-md-12 col-sm-12">
        <thead>
          <tr>
            <th scope="col" class="col-lg-4 col-sm-3">Nome</th>
            <th scope="col" class="col-lg-4 col-sm-3">Login</th>
            <th scope="col" class="col-lg-4 col-sm-3">Ações</th>
          </tr>
        </thead>
        <tbody>
          <app-loader *ngIf="isLoading"></app-loader>
          <tr *ngFor="let user of users | searcher: procuraUser">
              <td class="col-lg-4 col-sm-3">{{ user.full_name }}</td>
              <td class="col-lg-4 col-sm-3">{{ user.login }}</td>
              <td class="col-lg-4 col-sm-3">
                <div class="btn-group" role="group" aria-label="actions">
                  <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#edit"  (click)="select(user)"><i class="fas fa-edit"></i></button>
                  <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#delete" (click)="select(user)"><i class="fas fa-trash-alt"></i></button>
                </div>
              </td>
          </tr>
         
        </tbody>
      </table>

      <!--Modal de edição-->
      <div class="modal fade" role="dialog" id="edit" *ngIf="user">
        <div class="modal-dialog modal-md" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Editar</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form #edit="ngForm">
                <div class="form-group my-3">
                  <input type="text" class="form-control" name="full_name" aria-describedby="nome" placeholder="Nome*" [(ngModel)]="user.full_name" required #full_name >
                </div>

                <div class="form-group my-3">
                  <input type="text" class="form-control" name="login" aria-describedby="login" placeholder="Login de acesso*" [(ngModel)]="user.login" #login required>
                </div>

                <div class="form-inline my-3">
                  <div class="form-group col-lg-6 left">
                    <input type="password" class="form-control inline" id="senhaconf" name="senhaconf"  #senhaconf ngModel required placeholder="Senha*" required>
                  </div>
                  <div class="form-group col-lg-6 right">
                    <input type="password" class="form-control inline" name="password" placeholder="Confirmar senha*" #password  required [(ngModel)]="user.password" compare="senhaconf">
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-success" data-dismiss="modal" [disabled]="edit.invalid" (click)="updateUser(user)">Salvar</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
            
          </div>
        </div>
      </div> 
      <!------------------------------------------------------>
      <!-------Modal de exclusão----->
      <div class="modal fade" role="dialog" id="delete">
        <div class="modal-dialog modal-md" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Excluir usuário</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Tem certeza que deseja excluir este usuário?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteUser()">Excluir</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
          </div>
        </div>
      </div>
      <!---------------------------------------------------->
    </div>  
  </section>


  <section *ngIf="!displayUser">
    <div class="row">
      <div class="col-lg-12 col-md-12 my-3">
        <div class="card">              
                <form #u="ngForm" (ngSubmit)="onSubmit(u)">
                    <div class="form-group my-3">
                      <input type="text" class="form-control" name="full_name" aria-describedby="nome" placeholder="Nome*" ngModel required #full_name="ngModel" >
                      <!--span class="text-danger" *ngIf="full_name.invalid && (full_name.touched || full_name.dirty)">Campo obrigatório</span-->
                    
                    </div>

                    <div class="form-group my-3">
                      <input type="text" class="form-control" name="login" aria-describedby="login" placeholder="Login de acesso*" ngModel #login="ngModel" required>
                      <!--span class="text-danger" *ngIf="login.invalid && (login.touched || login.dirty)">Campo obrigatório</span-->
                    </div>
  
                    <div class="form-inline my-3">
                      <div class="form-group col-lg-6 left">
                        <input type="password" class="form-control inline" id="senhaconf" name="senhaconf" ngModel #senhaconf="ngModel"  required placeholder="Senha*">
                      </div>
                      <div class="form-group col-lg-6 right">
                        <input type="password" class="form-control inline" name="password" placeholder="Confirmar senha*" #password="ngModel" required ngModel compare="senhaconf">
                      </div>
      
                      <!--span class="text-danger" *ngIf="password.invalid && (password.touched || password.dirty)">Senha inválida</span>
                      <span class="text-danger" *ngIf="password.errors['compare']">Campos não coincidem</span-->
                         
                    </div>
                
                    <button type="submit" [disabled]="u.invalid" class="btn btn-success">
                      <i class="fas fa-paper-plane"></i>
                      Salvar
                    </button>
                </form>
        </div>
        <button class="btn btn-light col-lg-1" (click)="onDisplayUser()">
          <i class="fas fa-angle-left"></i> 
          Voltar
        </button>
        
      </div>
    </div>
  </section>

