h1{
    color: #425f94;
}
.card{
    padding: 15pt;
}

.btn-search{
    background-color: #425f94;
    color: #ffffff;
}

.search{
    float: right;
    
}
input.inline{
    width: 100%;

}
.left{
    padding-left: 0;
}
.right{
    padding-right: 0;
}
.btn-select{
    width: 100%;
    background-color: #ffffff;
    border: solid 1px #ccc;
}