<div class="container mt-3">
<div class="row">
  <header class="col-12">
    <h1>Lançamentos</h1>
  </header>
</div>
<section *ngIf="!display && !displayUp ">
  <div class="row ">
    <div class="col-12 my-3">
      <button type="button" class="btn btn-add" routerLink="cadastrar" routerLinkActive="router-link-active"><i class="fas fa-plus"></i>&nbsp; Adicionar</button>
      <form class="form-inline search " #p="ngForm" (ngSubmit)="onSubmit(p)">
        <input class="form-control mr-sm-2" type="search" name="search" placeholder="Buscar Pessoa" [(ngModel)]="procurarNome" aria-label="Buscar" ngModel>
        &nbsp;Competência: &nbsp;<input type="date" name="competencia" class="form-control mr-sm-2" [(ngModel)]="procurardata">
        &nbsp;<select name="tipo" ngModel class="form-control mr-sm-2" [(ngModel)]="procurarmov" name="type">
          <option value="e">  Entrada  </option>
          <option value="s">  Saida  </option>
          <option selected value="">  Ambos  </option>
        </select>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="form-inline my-4 col-12">
      <div class="col-lg-4 col-md-4 col-sm-4 left">
        <h2 class="positiveValue text-center">Entrada: {{ getPossitive() }}</h2>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <h2 class="negativeValue text-center">Saída: -{{ getNegative() }}</h2>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 right">
        <h2 class="balanceValue text-center">Saldo: {{ getBalance() }}</h2>
      </div>
    </div>
    <table class="table table-hover table-striped text-center col-lg-12 col-md-12 col-sm-12">
      <thead>
        <tr>
          <th scope="col" class="">Competência</th>
          <th scope="col" class="">Lançamento</th>
          <th scope="col" class="">Pessoa</th>
          <th scope="col" class="">Valor</th>
          <th scope="col" class="">Tipo</th>
          <th scope="col" class="">Ações</th>
        </tr>
      </thead>
      <tbody>
        <app-loader *ngIf="isLoading"></app-loader>
        <tr *ngFor="let C of entry |searcher_mov : procurarmov | searcherMovDate : procurardata | searcherP : procurarNome ">
          <td class="">{{ C.due_date_pay | date:'MM/yyyy':'UTC'}}</td>
          <td class="">{{ C.date_financial_release | date:'dd/MM/yyyy':'UTC'}}</td>
          <td class="">{{ C.person.name }}</td>
          <td class="">{{ C.value.toLocaleString(undefined, {
            minimumFractionDigits: 2,
            maximumFractionDigits: 2
          }) }}</td>
          <td class="">{{ C.type_mov==="e" ?"Entrada": "Saida" }}</td>
          <td class="">
            <div class="btn-group" role="group" aria-label="actions">
              <button type="button" class="btn btn-secondary" routerLink="editar/{{C.id_financial_release}}" routerLinkActive="router-link-active"><i class="fas fa-edit"></i></button>
              <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#delete" (click)="saveId(C.id_financial_release)"><i class="fas fa-trash-alt"></i></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <!--Modal de Deletar Classificação-->
    <div class="modal fade" role="dialog" id="delete">
      <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Excluir Classificação</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Tem certeza que deseja excluir esta classificação?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteEntry()">Excluir</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
    <!--Fim do Modal de Deletar Classificação-->
  </div>
</section>

<!--Display de edição classificação-->
<section *ngIf="displayUp">
  <div class="row justify-content-center my-3">
    <div class="col-lg-7 col-md-7 col-sm-12 my-6">
      <form #u="ngForm" (ngSubmit)="updateClassification(u)">
          <div class="card">

            <div class="card-body">
            <h4>Editar</h4>
              <div class="form-group col-lg-12 col-md-12 col-sm-12 left" *ngIf="ent">
                *Data da competência
                <input type="date" required name="competencia" required [(ngModel)]="ent.due_date_pay" [ngClass]="{'border-danger': competenciaV}" (change)="competenciaV = false" class="form-control stock-input" ngModel #due_date_pay="ngModel">
                <p *ngIf="competenciaV"  class="text-danger">*Preencha a Competencia</p>
              </div>
              <div class="form-group col-lg-12 col-md-12 col-sm-12 left" *ngIf="ent">
                *Data do lançamento
                <input type="date" required [(ngModel)]="ent.date_financial_release" name="lancamento" class="form-control stock-input" ngModel #date_financial_release="ngModel">
              </div>

              <div class="form-group col-lg-12 col-md-12 col-sm-12 left" *ngIf="ent">
                Tipo de Classificação
                <select name="tipo" [(ngModel)]="ent.type_mov" required [(ngModel)]="procuraClassification" class="btn btn-select" ngModel #classifation_type="ngModel">
                  <option value="e">  Entrada  </option>
                  <option value="s">  Saida  </option>
                </select>
              </div>

              <div class="form-group col-lg-12 col-md-12 col-sm-12 left" *ngIf="ent">
                *Classificação
                <select name="classificacao" [(ngModel)]="ent.id_classification" [ngClass]="{'border-danger': id_classificationV}" (change)="id_classificationV = false" required class="btn btn-select" name="id_classification" ngModel #id_classification="ngModel">
                  <option value="" disabled selected>Selecione uma classificação</option>
                  <option *ngFor="let C of classification | searcher_classification : procuraClassification" value="{{C.id_classification}}">
                    {{C.name_classification}}
                  </option>
                </select>
                <p *ngIf="id_classificationV" class="text-danger">*Selecione um tipo</p>
              </div>

              <div class="form-group col-lg-12 col-md-12 col-sm-12 left" *ngIf="ent">
                *Pessoa
                <select name="pessoa" [(ngModel)]="ent.id_people" [ngClass]="{'border-danger': peopleV}" (change)="peopleV = false" required class="btn btn-select" name="id_people" ngModel #id_people="ngModel">
                  <option value="" disabled selected>Selecione a Pessoa</option>
                  <option value="{{P.id_people}}" *ngFor="let P of people">
                    {{P.name}}
                  </option>
                </select>
                <p *ngIf="peopleV" class="text-danger">*Escolha uma Pessoa</p>
              </div>
              <div class="form-group col-lg-12 col-md-12 col-sm-12 left" *ngIf="ent">
                *Documento
                <input type="text" [(ngModel)]="ent.num_doc" required [ngClass]="{'border-danger': num_docValidation}" (change)="num_docValidation = false" class="form-control inline" id="num_doc" name="num_doc" ngModel #num_doc="ngModel" aria-describedby="num_doc" placeholder="Numero do Documento">
                <p *ngIf="num_docValidation"  class="text-danger">*Preencha o Documento</p>
              </div>
              <div class="form-group col-lg-12 col-md-12 col-sm-12 left" *ngIf="ent">
                *Valor
                <input type="number" [(ngModel)]="ent.value" required [ngClass]="{'border-danger': valorV}" (change)="valorV = false" class="form-control inline" id="valor"  ngModel #value="ngModel" placeholder="Valor" name="valor">
                <p *ngIf="valorV" class="text-danger">*Preencha o Valor</p>
              </div>

              <div class="form-group col-lg-12 col-md-12 col-sm-12 left" *ngIf="ent">
                *Historico
                <textarea [(ngModel)]="ent.historic" required class="form-control" [ngClass]="{'border-danger': historicoV}" (change)="historicoV = false" name="historico" id="historico" cols="120" rows="3" placeholder="Historico" ngModel #historic="ngModel"></textarea>
                <p *ngIf="historicoV"  class="text-danger">*Preencha o Historico</p>
              </div>
            </div>
          </div>
          <div class="justify-content-between">
              <button class="btn btn-outline-success mt-2 col-lg-3" (click)="onDisplayUp()">
                  <i class="fas fa-angle-left"></i>&nbsp; Voltar
              </button>
              <button type="submit" class="btn  mt-2 col-lg-3 btn-success" [disabled]="u.invalid">
                  <i class="fas fa-save"></i>&nbsp;
                     Salvar
              </button>
          </div>
        </form>

    </div>
  </div>
</section>
<!--Fim do display de edição-->
