@import "bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

*{
    font-family: 'Montserrat';
    
}
body{
    min-height: 95vh;
}
#toast-container > div {
    opacity:1;
}