<div class="container mt-3">

<div class="row">
  <header class="col-lg-12 col-md-12 col-sm-12">
    <h1>Saídas</h1>
  </header>
</div>

<section>
  <div class="row">
    <div class="col-lg-12 col-md-12 my-3">
      <button type="button" class="btn btn-add" [routerLink]="['cadastrar']" routerLinkActive="router-link-active" ><i class="fas fa-plus"></i> Adicionar</button>
      <form class="form-inline search">
        
        De:<input class="form-control mx-sm-2" type="date" [(ngModel)]="minDate" name="dateInit"> a:
        <input class="form-control mx-sm-2" [(ngModel)]="maxDate" name="dateEnd" type="date">
        <button class="btn btn-search" type="submit"><i class="fas fa-search"></i></button>
      </form>
    </div>
  </div>

    <table class="table table-responsive table-striped">
      <thead>
        <tr >
          <th  class="col-3">Usuário</th>
          <th  class="col-3">Data</th>
          <th class="col-3">Valor</th>
          <th class="col-3">Ações</th>
        </tr>
      </thead>
      <tbody>
        <app-loader *ngIf="isLoading"></app-loader>
        <tr  *ngFor="let out of stockOut | minDate : minDate | maxDate : maxDate">
            <td class="col-3 ">{{ out.user.full_name }}</td>
            <td class="col-3">{{ out.createdAt | date:'dd/MM/yyyy' }}</td>
            <td class="col-3">{{ out.unit_price_output | currency:'BRL'}}</td>
            <td class="col-3">
              <div class="btn-group" role="group" aria-label="actions">
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#see" (click)="getById(out)"><i class="fas fa-eye"></i></button>
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#edit" (click)="getById(out)"><i class="fas fa-edit"></i></button>
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#delete" (click)="select(out)"><i class="fas fa-trash-alt"></i></button>
              </div>
            </td>
        </tr>
       
      </tbody>
    </table>

    <div class="modal fade" role="dialog" id="see" *ngIf="output">
      <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Detalhes</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p><b>Nome do fornecedor: </b>{{ output.user.full_name }}</p>
            <p><b>Data: </b> {{ output.createdAt | date:'dd/MM/yyyy' }}</p>
            <p><b>Valor Unitário: </b> {{ output.unit_price_output | currency:'BRL' }}</p>
            <p><b>Quantidade: </b> {{output.amount_output}} {{output.unit_meansurement}}</p>
            <p><b>Produto: </b> {{ productName }}</p>
            <p><b>Descrição: </b> {{ output.description }}</p>
          </div>
          <div class="modal-footer">
            
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          </div>
        </div>
       </div>
    </div> 

    <div class="modal fade" role="dialog" id="edit" *ngIf="output">
      <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title">Editar</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
          </div>
            <div class="modal-body">
                <form #edit="ngForm">
                    <div class="form-inline">
                      <div class="form-group col-lg-6 left">
                      <input readonly="readonly" #id_user (ngModel)="output.id_user" [ngModel]="user.full_name" class="form-control inline input-autocomplet mt-2 pl-2 w-100" type="text" placeholder="Nome*" name="id_user" aria-label="Number" matInput
                         [matAutocomplete]="auto" [ngClass]="{'border-danger': nameValidation}" (change)="nameValidation = false">
                      <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let option of filteredOptions |async"  [value]="option.full_name" >
                          {{option.full_name}}
                        </mat-option>
                      </mat-autocomplete>
                        <p *ngIf="nameValidation"  class="text-danger">*Selecione um nome cadastrado</p>
                      </div>
                      <div class="form-group col-lg-6 right">
                        <input readonly="readonly" class= "form-control inline" #createdAt [ngModel]="output.createdAt | date:'dd/MM/yyyy'" (ngModel)="output.createdAt" id="data" name="createdAt" aria-describedby="data" placeholder="Data de retirada" type="text" onfocus="(this.type='date')" onblur="(this.type='text')">
                      </div>
                    </div>

                    <div class="form-group my-3">
                      <input type="text" class="form-control" id="description"  name="description" [(ngModel)]="output.description" #description aria-describedby="description" required placeholder="Por quê?*">
                    </div>
                    
                    
                    
                    <hr>
          
                    <h5>Produtos</h5>
                
                    <div class="form-inline">
                      <div class="form-group col-lg-6 left">
                        <select #id_product [(ngModel)]="output.id_product" name="id_product" (change)="mostrar(output.id_product)" class="btn btn-select stock-output" required>
                          <option value="" disabled selected>Selecionar Produto</option>
                          <option *ngFor="let p of products" [value]="p.id_product">
                              {{p.name_product}}
                          </option>
                        </select>
                      </div>
                      <div class="form-group col-lg-6 right">
                        <input type="text" mask="dot_separator.2" class="form-control inline" id="unit_price_output"  name="unit_price_output" [(ngModel)]="output.unit_price_output" #unit_price_output aria-describedby="unit_price_output" required placeholder="Preço unitário*">
                      </div>
                    </div>
                  
                    <div class="form-inline my-3">
                      <div class="form-group col-lg-6 left">
                        <input type="number" class="form-control inline" id="qtd" name="amount_output" #amount_output [(ngModel)]="output.amount_output" placeholder="Quantidade*" required>
                      </div>
                      <div class="form-group col-lg-6 right">
                        <select name="unit_measurement" class="btn btn-select" #unit_measurement [(ngModel)]="output.unit_measurement" required>
                          <option >Unidade de medida</option>
                          <option  selected [value]="4">Caixa</option>
                          <option selected [value]="2">Litro</option> 
                          <option selected [value]="3">Quilograma</option>
                          <option selected [value]="1">Unidade</option> 
                        </select>
                      </div>
              
                    </div>
                </form>
                
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-success" data-dismiss="modal" [disabled]="edit.invalid" (click)="updateOutput(output)">Salvar</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
          
        </div>
      </div>
    </div> 
      <!--Modal de exclusão-->
      <div class="modal fade" role="dialog" id="delete">
          <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Excluir saída</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>Tem certeza que deseja excluir esta saída?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteOutput()">Excluir</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
              </div>
            </div>
          </div>
      </div>

 
</section>

</div>
