h1{
    color: #229077;
}
.card{
    padding: 15pt;
}
.btn-add{
    background-color: #229077;
    color: white;
}
.col-12{
    padding-right: 0;
    padding-left: 0;
}
.btn-search{
    background-color: #229077;
    color: #ffffff;
}

.search{
    float: right;
    
}
input.inline{
    width: 100%;

}
.left{
    padding-left: 0;
}
.right{
    padding-right: 0;
}