<div class="container mt-3">
    <section>
        <div class="row justify-content-center my-3">
          <div class="col-lg-7 col-md-7 col-sm-12 my-6">
          <form #b="ngForm" (ngSubmit)="updateClassification(b)">
            <div class="card">
              <app-loader *ngIf="editLoading"></app-loader>
              <div class="modal-header">
                <h5 class="modal-title">Editar Lançamento</h5>
              </div>
              <div class="modal-body" *ngIf="ent">
                  <div class="form-group col-lg-12 col-md-12 col-sm-12 left" *ngIf="ent">
                      *Data da competência
                      <input type="date" required name="competencia" required [(ngModel)]="ent.due_date_pay" [ngClass]="{'border-danger': competenciaV}" (change)="competenciaV = false" class="form-control stock-input" ngModel #due_date_pay="ngModel">
                      <p *ngIf="competenciaV"  class="text-danger">*Preencha a Competencia</p>
                    </div>
                    <div class="form-group col-lg-12 col-md-12 col-sm-12 left" *ngIf="ent">
                      *Data do lançamento
                      <input type="date" required [(ngModel)]="ent.date_financial_release" name="lancamento" class="form-control stock-input" ngModel #date_financial_release="ngModel">
                    </div>
      
                    <div class="form-group col-lg-12 col-md-12 col-sm-12 left" *ngIf="ent">
                      Tipo de Classificação
                      <select name="tipo" [(ngModel)]="ent.type_mov" required [(ngModel)]="procuraClassification" class="btn btn-select" ngModel #classifation_type="ngModel">
                        <option value="e">  Entrada  </option>
                        <option value="s">  Saida  </option>
                      </select>
                    </div>
      
                    <div class="form-group col-lg-12 col-md-12 col-sm-12 left" *ngIf="ent">
                      *Classificação
                      <select name="classificacao" [(ngModel)]="ent.id_classification" [ngClass]="{'border-danger': id_classificationV}" (change)="id_classificationV = false" required class="btn btn-select" name="id_classification" ngModel #id_classification="ngModel">
                        <option value="" disabled selected>Selecione uma classificação</option>
                        <option *ngFor="let C of classification | searcher_classification : procuraClassification" value="{{C.id_classification}}">
                          {{C.name_classification}}
                        </option>
                      </select>
                      <p *ngIf="id_classificationV" class="text-danger">*Selecione um tipo</p>
                    </div>
      
                    <div class="form-group col-lg-12 col-md-12 col-sm-12 left" *ngIf="ent">
                      *Pessoa
                      <select name="pessoa" [(ngModel)]="ent.id_people" [ngClass]="{'border-danger': peopleV}" (change)="peopleV = false" required class="btn btn-select" name="id_people" ngModel #id_people="ngModel">
                        <option value="" disabled selected>Selecione a Pessoa</option>
                        <option value="{{P.id_people}}" *ngFor="let P of people">
                          {{P.name}}
                        </option>
                      </select>
                      <p *ngIf="peopleV" class="text-danger">*Escolha uma Pessoa</p>
                    </div>
                    <div class="form-group col-lg-12 col-md-12 col-sm-12 left" *ngIf="ent">
                      *Documento
                      <input type="text" [(ngModel)]="ent.num_doc" required [ngClass]="{'border-danger': num_docValidation}" (change)="num_docValidation = false" class="form-control inline" id="num_doc" name="num_doc" ngModel #num_doc="ngModel" aria-describedby="num_doc" placeholder="Numero do Documento">
                      <p *ngIf="num_docValidation"  class="text-danger">*Preencha o Documento</p>
                    </div>
                    <div class="form-group col-lg-12 col-md-12 col-sm-12 left" *ngIf="ent">
                      *Valor
                      <input type="number" [(ngModel)]="ent.value" required [ngClass]="{'border-danger': valorV}" (change)="valorV = false" class="form-control inline" id="valor"  ngModel #value="ngModel" placeholder="Valor" name="valor">
                      <p *ngIf="valorV" class="text-danger">*Preencha o Valor</p>
                    </div>
      
                    <div class="form-group col-lg-12 col-md-12 col-sm-12 left" *ngIf="ent">
                      *Historico
                      <textarea [(ngModel)]="ent.historic" required class="form-control" [ngClass]="{'border-danger': historicoV}" (change)="historicoV = false" name="historico" id="historico" cols="120" rows="3" placeholder="Historico" ngModel #historic="ngModel"></textarea>
                      <p *ngIf="historicoV"  class="text-danger">*Preencha o Historico</p>
                    </div>
              </div>
            </div>
            <div>
              <button class="btn btn-outline-success mt-2 col-lg-3" (click)="goBack()">
                <i class="fas fa-angle-left"></i>
                Voltar
              </button>
              <button type="submit" class="btn  mt-2 col-lg-3 btn-success">
                <i class="fas fa-save"></i>
                Salvar
              </button>
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>